#!/bin/bash

py2server() {
  # use 8000 if no argument supplied
  port="${1:-8000}"	
  python -m SimpleHTTPServer "$port"
}

pyserver() {
  port="${1:-8000}"	
  python -m http.server "$port"
}

phpserver() {
  port="${1:-8000}"
  # ensures to not bind to ipv6 loopback address
  php -S 0.0.0.0:"$port"
}

pdfmerge() {
  # usage: pdfmerge <file1, file2, ..> <output>
  gs -q -sDEVICE=pdfwrite -dPDFSETTINGS=/prepress -o "merged_$#.pdf" "$@"
}

pdfextract() {
    # usage: pdfextract <from> <to> <file>
    # output file: "inputfile_pXX-pYY.pdf"
    gs -sDEVICE=pdfwrite -dNOPAUSE -dBATCH -dSAFER \
       -dFirstPage=${1} \
       -dLastPage=${2} \
       -sOutputFile=${3%.pdf}_p${1}-p${2}.pdf \
       ${3}
}

flac2mp3() {
  # convert all *.flac files in current directory to .mp3
  find -type f -name "*.flac" \
    -exec bash -c 'ffmpeg -i "{}" -y -acodec libmp3lame -ab 192k "${0/.flac}.mp3"' {} \;
}

noword() {
  pandoc -o output.pdf -f docx "$1"
}

mkdirs() {
  mkdir {exploit,loot,report,scans}
}
