py2server() {
	# use 8000 if no argument supplied
	port="${1:-8000}"	
	python -m SimpleHTTPServer "$port"
}

pyserver() {
	port="${1:-8000}"	
	python -m http.server "$port"
}

phpserver() {
	port="${1:-8000}"
	# ensures to not bind to ipv6 loopback address
	php -S 0.0.0.0:"$port"
}

mkcd() {
	if [[ ! -d "$@" ]]; then
		mkdir -p "$@"
	fi
	cd "$@"
}

# convert hex to decimal (without 0x)
h2d() {
  # accepts: [0x][Aa]1
  echo "$1" | sed 's/^0x//g' | tr \[a-z] \[A-Z] | xargs -I {} echo "obase=10;ibase=16;{}" | bc
}
