#/usr/bin/env bash

EDITOR="$(which nvim)"
alias v=nvim
alias vim=nvim

# configs
alias bashrc="$EDITOR ~/.bashrc"
alias nvimrc="$EDITOR ~/dotfiles/.config/nvim"
alias tmuxrc="$EDITOR ~/.tmux.conf"
alias zshrc="$EDITOR ~/.zshrc"

# shortcuts
alias sb='. ~/.bashrc'
alias bb='sudo shutdown -h now'
alias brb='sudo shutdown -r now'
alias fau='cd ~/fau/ss2022'
alias ncm='ncmpcpp'
alias nnn='nnn -e'
alias f='nnn -e'
#alias rcp='rsync -ah --info=progress2 --append-verify --stats'
#alias rmv='rsync -ah --info=progress2 --append-verify --remove-source-files --stats'

# directory
alias ..='cd ..'

# directory listing
color=$([[ "$OSTYPE" == "darwin"* ]] && echo -n "-G" || echo -n "--color=auto")
hash exa 2>/dev/null && \
  alias ll='exa --long --header --binary --modified --time-style=long-iso --all --sort=.name  --group-directories-first'
#alias ls="ls ${color}"
#alias la="ls -ld .* ${color}"
#alias ll="ls -lt ${color}"
alias dirsize="du -csh * | sort -n"

# search
alias grep='grep --color=auto'
alias prettyjson='python -m json.tool'

# network
alias 88='ping -c 2 8.8.8.8'
alias localip="ip -o route get to 8.8.8.8 | sed -n 's/.*src \([0-9.]\+\).*/\1/p'"
alias publicip='dig +short myip.opendns.com @resolver1.opendns.com'

alias yt='mpv --volume=50 --ytdl-format="bestvideo[height<=?480]+bestaudio/best"'
alias tb='mpv --volume=25 "http://listen.technobase.fm/listen.mp3.m3u"'
alias lofi='mpv --volume=25 --no-video "https://www.youtube.com/watch?v=rUxyKA_-grg"'
#alias mp3dl='youtube-dl --extract-audio --audio-format mp3'
alias mp3dl="yt-dlp -f 'ba' -x --audio-format mp3 -o '%(id)s.%(ext)s'"

alias vol3='python /opt/volatility3/vol.py'
alias vol2='python /opt/volatility/vol.py'
