#/usr/bin/env bash

# system
alias v="${EDITOR}"
alias bathelp='bat --plain --language=help'
alias clipboard='xclip -sel clipboard'
alias bb='sudo shutdown -h now'
alias brb='sudo shutdown -r now'
#alias rcp='rsync -ah --info=progress2 --append-verify --stats'
#alias rmv='rsync -ah --info=progress2 --append-verify --remove-source-files --stats'

# configs
alias bashrc="$EDITOR $HOME/.bashrc"
alias tmuxrc="$EDITOR $DOTFILES/tmux/.config/tmux/tmux.conf"
alias zshrc="$EDITOR $DOTFILES/zsh/.zshrc"
alias aliases="$EDITOR $DOTFILES/zsh/.aliases"
alias functions="$EDITOR $DOTFILES/zsh/.functions"

# directories
alias ..='cd ..'
alias fau='cd ~/fau/ws2023'
hash exa 2>/dev/null && \
  alias ll='exa --long --header --binary --modified --time-style=long-iso --all --sort=.name  --group-directories-first'
alias dirsize="du -csh * | sort -n"

# search
alias grep='grep --color=auto'
alias prettyjson='python -m json.tool'
alias ff='find -type f -iname'

# network
alias pong='ping -c 2 8.8.8.8'
alias localip="ip -o route get to 8.8.8.8 | sed -n 's/.*src \([0-9.]\+\).*/\1/p'"
alias publicip='dig +short myip.opendns.com @resolver1.opendns.com'

# media
alias yt='mpv --volume=50 --ytdl-format="bestvideo[height<=?480]+bestaudio/best"'
alias tb='mpv --volume=25 "http://listen.technobase.fm/listen.mp3.m3u"'
alias lofi='mpv --volume=25 --no-video "https://www.youtube.com/watch?v=rUxyKA_-grg"'
alias mp3dl="yt-dlp -f 'ba' -x --audio-format mp3 -o '%(id)s.%(ext)s'"
